.kdl-agenda {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14rem;
  margin-bottom: -24rem;

  button {
    margin-bottom: -4rem;
    position: relative;
    z-index: 1;
  }
}

.kdl-container {
  max-width: 1174px;
  margin: auto;
}