@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@400;700&display=swap');

:root {
  --color-primary-300: #EBEDFF;
  --color-primary-400: #B3BBF9;
  --color-primary-450: #8594C4;
  --color-primary-500: #5B6DF7;
  --color-primary-600: #3C4EDC;
  --color-primary-700: #02259A;
  --color-primary-800: #01259B;

  --color-secondary-400: #FEB4CE;
  --color-secondary-500: #F37CA7;
  --color-secondary-600: #EE5C91;
  --color-secondary-700: #EF4A68;

  --color-tertiary-500: #FFBA53;
  --color-tertiary-600: #FF881B;

  --color-quaternary-500: #995EBD;
  --color-quaternary-600: #813CAC;

  --color-quinary-500: #18DB7D;
  --color-quinary-600: #14CA72;

  --color-grey-200: #ECEBED;
  --color-grey-400: #8594C5;
  --color-grey-500: #5B575F;

  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-error: var(--color-secondary-700);
  --color-warning: var(--color-tertiary-500);
  --color-success: var(--color-quinary-500);

  --font-family: "Montserrat", sans-serif;
  --font-family-2: "Volkhov", serif;

  --font-size-h1: 4.8rem;
  --line-height-h1: 5.6rem;
  --font-weight-h1: 700;

  --font-size-h2: 4.8rem;
  --line-height-h2: 4.8rem;
  --font-weight-h2: 700;

  --font-size-h3: 4rem;
  --line-height-h3: 4rem;
  --font-weight-h3: 700;

  --font-size-h4: 3.2rem;
  --line-height-h4: 3.2rem;
  --font-weight-h4: 700;

  --font-size-h5: 2.4rem;
  --line-height-h5: 2.4rem;
  --font-weight-h5: 700;

  --font-size-h6: 2rem;
  --line-height-h6: 2rem;
  --font-weight-h6: 700;

  --font-size-p1: 2rem;
  --line-height-p1: 2.8rem;
  --font-weight-p1: 400;

  --font-size-p2: 1.6rem;
  --line-height-p2: 2rem;
  --font-weight-p2: 500;

  --font-size-p3: 1.4rem;
  --line-height-p3: 2rem;
  --font-weight-p3: 500;

  --font-size-p4: 1.2rem;
  --line-height-p4: 2rem;
  --font-weight-p4: 500;

  --font-size-p5: 1.0rem;
  --line-height-p5: 1.8rem;
  --font-weight-p5: 500;

  --elevation-0: 0 0px 0px 0 rgba(0,0,0,0);
  --elevation-1: 0 1px 2px 0 rgba(0,0,0,0.1);
  --elevation-2: 0 2px 4px 0 rgba(0,0,0,0.1);
  --elevation-3: 0 4px 8px 0 rgba(0,0,0,0.1);
  --elevation-4: 0 8px 16px 0 rgba(0,0,0,0.1);
  --elevation-5: 0 16px 32px 0 rgba(0,0,0,0.1);
}
