$component: kdl-grid;


.#{$component} {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.6rem;

  &--text-align {
    &--center {
      text-align: center;
    }
  }

  &__col {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;

    &--text-align {

      &--center {
        text-align: center;
      }

      &--right {
        display: flex;
        justify-content: flex-end;
      }
    }

    &--4 {
      flex: 0 0 auto;
      width: 33.3333%;
    }

    &--12 {
      flex: 0 0 auto;
      width: 100%;
    }
  }

  & > * {
    padding-right: 1.6rem;
    padding-left: 1.6rem;
  }
}


@media(min-width: 576px) {
  .#{$component}__col--xs {
    flex: 1 0 0%;

    &--4 {
      flex: 0 0 auto;
      width: 33.3333%;
    }

    &--6 {
      flex: 0 0 auto;
      width: 50%;
    }
  }
}

@media(min-width: 768px) {
  .#{$component}__col--sm {
    flex: 1 0 0%;

    &--2 {
      flex: 0 0 auto;
      width: 20%;
    }

    &--4 {
      flex: 0 0 auto;
      width: 33.3333%;
    }

    &--6 {
      flex: 0 0 auto;
      width: 50%;
    }

    &--8 {
      flex: 0 0 auto;
      width: 66.6666%;
    }

    &--10 {
      flex: 0 0 auto;
      width: 80%;
    }

    &--text-align {

      &--right {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

@media(min-width: 992px) {
  .#{$component}__col--md {
    flex: 1 0 0%;

    &--3 {
      flex: 0 0 auto;
      width: 25%;
    }

    &--4 {
      flex: 0 0 auto;
      width: 33.3333%;
    }

    &--6 {
      flex: 0 0 auto;
      width: 50%;
    }
  }
}

